@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #0e0e1a;
}

.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: url("./images/gym.jpg") no-repeat center center/cover;
  text-align: left;
  padding: 1rem 5%;
}
.title{
    font-style: italic;
    font-size: 50px;
    font-weight: 600;
}
.home .content {
  max-width: 40rem;
}

.home .content h2 {
  font-size: 3rem;
  color: #8ff0f0;
  text-transform: uppercase;
  margin: 0;
}

.home .content p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  padding: 0.5rem 0;
  color: #fdf0f0;
}

.home .content button {
  background-color: #7fc8c8;
  color: #0e0e1a;
  padding: 0.8rem 0.8rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
}

.home .content button:hover {
  background-color: #437474;
}

.cta {
  position: relative;
  text-decoration: none;
  transition: all 0.2s ease;
  cursor: pointer;
  color: #000000;
  font-size: 1.2rem;
}

.btn {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #505457;
}
