.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  background: url("./images/gym6.jpg") no-repeat center center/cover;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card h2 {
  font-size: 1.5em;
  margin: 16px 0 8px;
  text-align: center;
}

.card .desc,
.card .pri {
  margin: 0 16px 16px;
  text-align: center;
  font-style: italic;
}

.purchase-button {
  background-color: #141414;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  font-size: 1em;
  margin: 4px;
  align-self: center;
  transition: background-color 0.3s;
  width: 200px;
}

.purchase-button:hover {
  background-color: #0056b3;
}
